*::selection {
    color: white !important;
    background-color: #ffd200;
}

.body {
    margin: 0;
    padding: 0;
    background: url('/assets/images/bg-images/backgroundimg.webp') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    min-height: 100vh;
    color: #fff;
}

body {
    margin: 0;
    font-family: "Poppins";
    padding: 0;
}

.my-container {
    margin-top: 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.85);
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.form-section {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    color: #ffff00;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

input,
select {
    padding: 22px;
    background-color: #333;
    color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.row-group-Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row-group {
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.row-group label {
    width: 100%;
    color: #ffff00;
    margin-top: 10px;
}

.row-group input {
    width: 9%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #333;
    color: white !important;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form-section input[type="text"],
.form-section input[type="number"],
.form-section input[type="email"],
.form-section input[type="tel"],
.form-section select {
    background-color: #333;
    color: white;
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkbox-group,
.radio-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    border: #fff;
}

input[type="checkbox"] {
    transform: scale(2);
    margin-right: 8px;
    margin-left: 22px;
}

.checkbox-group label {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    line-height: 24px;
    font-weight: 300;
}

.radio-group label {
    color: rgb(255, 255, 255);
}

input[type="range"] {
    width: 92%;
    margin-top: 10px;
}

p {
    color: #ffff00;
}

.submit-btn {
    border: none;
    outline: none;
    margin-top: 20px;
    background-color: #ffD200;
    color: white;
    border-radius: 1px solid;
    border-color: white;
    padding: 12px 25px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
}

.chart-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #000;
    background-color: white;
    padding: 20px;
    height: 40%;
    margin-top: 60px;
    justify-content: center;
}

canvas {
    width: 100%;
    max-height: 350px;
}

.error-msg {
    color: red;
    font-size: 14px;
    margin: 5px 0 0;
}

@media (max-width: 768px) {
    .body {
        background-position: top center;
        background-size: cover;
    }

    .my-container {
        grid-template-columns: 1fr;
    }

    .chart-section {
        display: none;
    }

    .row-group-Container {
        flex-direction: row;
    }

    .row-group input {
        width: 12%;
        padding: 8px !important;
    }

    .row-group label {
        font-size: small;
    }

    .checkbox-group,
    .radio-group {
        flex-direction: row;
    }
}

header {
    position: fixed;
    font-size: 15px;
    padding: 0px 62px;
    background-color: #222222 !important;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 999;
}


nav {
    display: flex;
    align-items: center;
}

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    cursor: pointer;
}

.btn-container {
    padding: 0px;
    cursor: auto;
}

.btn-container button {
    font-family: "Poppins";
    height: 44px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background-color: #ffD200;
    padding: 0 24px;
    color: white;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}

.btn-container button:hover {
    background-color: #ffdf51;
}

.menu-toggle {
    display: none;
    font-size: 18px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: fit-content;
}

#logo img {
    padding-top: 10px;
    width: 100px;
}

#logo img:hover {
    opacity: 0.7;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav a:hover {
    color: #ffD200;
}

@media (max-width: 970px) {
    header {
        padding: 12px 20px;
        background-color: transparent;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        background: #222222;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        display: none;
        gap: 0px;
    }

    nav.active {
        display: flex;
    }

    nav ul {
        width: 100%;
        align-items: start;

        flex-direction: column;
        gap: 10px;
        padding: 12px 0;

    }

    nav li {
        padding: 12px 40px;
    }

    .btn-container button {
        margin-left: 40px;
        background-color: transparent;
        padding: 0 0;
        color: white;
        font-weight: 500;
    }

    .menu-toggle {
        display: block;
        padding: 0;
        margin: 0;
    }

    img {
        width: 150px;
    }

    .btn-container {
        width: 100%;
        margin-bottom: 30px;

    }

    nav a {
        padding: 0px;
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

#logo {
    border: none;
    outline: none;
}

#logo img {
    border: none;
    outline: none;
}


.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    background: url(/assets/images/bg-images/footer-bg.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 25px;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    position: relative;
    z-index: 2;
    padding-bottom: 30px;
}

.footer-about {
    flex: 2;
    min-width: 300px;
}

.footer-about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
    position: relative;
    padding-bottom: 15px;
}

.footer-about h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 4px;
    background: #ffcc00;
}

.footer-about p {
    margin-bottom: 20px;
    color: white;
    max-width: 500px;
}


.footer-follow h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: white;
    position: relative;
    padding-bottom: 15px;
}

.footer-follow h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 4px;
    background: #ffcc00;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ffcc00;
    transform: translateY(-5px);
}

.footer-links {
    flex: 1;
    min-width: 200px;

}

.footer-links h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: white;
    position: relative;
    padding-bottom: 15px;
}

.footer-links h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 4px;
    background: #ffcc00;
}

.footer-links ul {
    padding: 0;
    list-style: none;
}

.footer-links li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    transition: all 0.3s ease;
}

.footer-links li:last-child {
    border-bottom: none !important;
}

.footer-links a {
    color: white;
    text-decoration: none;
    display: block;
    transition: color 0.3s;

}

.footer-links a:hover {
    color: #ffcc00;
}

.footer-hours {
    flex: 2;
    min-width: 300px;
}

.footer-hours h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: white;
    position: relative;
    padding-bottom: 15px;
}

.footer-hours h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 4px;
    background: #ffcc00;
}

.hours-table {
    width: 100%;
    overflow: auto;
    background-color: #333;

}

.hours-table .header-row th {
    padding: 0;
    background-color: #333;
    border-bottom: none;
}

.branch-button {
    width: 100%;
    padding: 10px 10px;
    background-color: #333;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    border: 2px solid transparent;

}

.branch-button.active {
    border-top: 2px solid #ffcc00;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: none !important;
    color: #ffcc00;
}

.branch-button:not(.active) {
    border-bottom: 2px solid #ffcc00;
}

.hours-content {
    background-color: #333;
    border: 2px solid #ffcc00;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 0;
}

.branch-schedule {

    display: none;
    padding: 20px;
}

.branch-schedule.active {
    display: block;
    animation: fadeIn 0.5s ease;
}


.schedule-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}

.schedule-day {
    color: white;
    font-weight: 500;
}

.schedule-time {
    color: white;
}

.footer-bottom-hover:hover {
    color: #ffcc00;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 2;
    background: rgb(39, 39, 39);
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    border-top: 1px solid #ffcc00;
}


@media (max-width: 768px) {

    .footer-content {
        flex-direction: column;
    }


    .section-title {
        font-size: 2rem;
    }

    .branch-button {
        padding: 12px 5px;
        font-size: 0.95rem;
    }

    .branch-schedule {
        padding: 15px;
    }

    .footer-about h2::after {
        width: 100%;
    }

    .footer-links h3::after {
        width: 100%;
    }

    .footer-follow h3::after {
        width: 100%;
    }

    .footer-hours h3::after {
        width: 100%;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-content {
        text-align: center;
    }
}